.oauth-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  justify-content: center;
  transition: 0.2s;
}

.oauth-icon {
  width: 20px;
  height: 20px;
}

/* Google */
.oauth-btn.google {
  background: white;
  border: 1px solid #ddd;
  color: #333;
}

.oauth-btn.google:hover {
  background: #f5f5f5;
}

/* Apple */
.oauth-btn.apple {
  background: black;
  color: white;
}

.oauth-btn.apple:hover {
  background: #333;
}
